@font-face{
    font-family: 'fonte1';
    src: url(../fontes/PassionOne-Regular.ttf);
}

@font-face{
    font-family: 'fonte2';
    src: url(../fontes/Sarabun-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header1{
    font-family: 'fonte1';
    background-color: #24411F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    position: sticky;
    top: 0;
}

.navegacao{
    flex: 1;
}
li{
    display: inline-block;
    margin: 0.7vw;
}

a{
    color:white;
    text-decoration: none;
}

.lista1{
    margin-left: 1.3vw;
}
.titulo{
    text-align: center;
    flex: 1;
    line-height: 3vh;
}

#titulo1{
    color: white;
}

#titulo2{
    color:#A5E2B3;
}

h1{
    font-size: 20px;
}

#home1{
    color: #A5E2B3;
}

.locheader{
    color: white;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.fa-solid{
    margin-right: 10px;
}

main{
    font-family: 'fonte2';
}
.background{
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/logopousada.png");
    background-position: center center;
    background-size: cover;
}

.apresentacao{
    background-color: rgb(0, 0, 0, 0.55);
    text-align: center;
    padding: 4vw;
    border: white solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pousada1{
    margin-top: 5px;
    color: white;
    font-family: 'fonte1';
}

#pousada2{
    color: #A5E2B3;
    padding-bottom: 50px;
    font-family: 'fonte1';
}

#article1{
    color: white;
    font-family: 'fonte2';
}

.sobre{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}

#sobre{
    font-size: 30px;
}

#descricao{
    font-size: 20px;
}

.sobrepousada{
    margin-top: 70px;
    border: black solid 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerinfo{
    margin-top: 10px;
    margin-left: 20px;
}

#pousadainfo{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#img1{
    width: 300px;
    height: 170px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    border: black solid 3px;
}

.comodidades{
    margin-top: 70px;
    border: black solid 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerinfo2{
    margin-top: 20px;
    margin-left: 20px;
}

#pousadacomodidade{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#img2{
    width: 300px;
    height: 170px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    border: black solid 3px;
}

.mapa{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}

#sobremapa{
    font-size: 30px;
}

#descricaorota{
    font-size: 20px;
}

.mapagoogle{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
